<div>
    <br>
    <div class="container">
        <div class="container">
            <div fxLayout="column" fxLayoutGap="20px" fxLayout.gt-md="row" fxLayoutAlign="space-around center" class="content">

            </div>
        </div>
        <br>
        <div class="container">
            <div fxLayout="row" fxLayoutAlign="center center" class="content">
                <mat-card class="card">
                    <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
                        <h3>Create project in Toggl</h3>
                    </mat-card-title>
                    <mat-card-content>
                        <div class="card-container">
                            <div>
                                <mat-form-field class="input-field">
                                    <mat-label>Project</mat-label>
                                    <mat-select [(value)]="selectedProject" (selectionChange)="onProjectChanged()">
                                        <mat-option *ngFor="let project of projects" [value]="project.sKeyInternal">
                                            {{project.sMatchcode}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field class="input-field">
                                    <mat-label>Contract</mat-label>
                                    <mat-select [(value)]="selectedContract" (selectionChange)="onContractChanged()">
                                        <mat-option *ngFor="let project of contracts" [value]="project.sKeyInternal">
                                            {{project.sMatchcode}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field class="input-field">
                                    <mat-label>Position</mat-label>
                                    <mat-select [(value)]="selectedPosition">
                                        <mat-option *ngFor="let project of positions" [value]="project.sKeyInternal">
                                            {{project.sMatchcode}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-card-content>
                    <mat-card-actions>
                        <mat-chip-list>
                            <mat-chip color="primary" selected (click)="createProjectInToggl()">Create project in Toggl</mat-chip>
                        </mat-chip-list>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>
