<mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
        <mat-nav-list>
            <a mat-list-item
               (click)="sidenav.toggle()"
               routerLink="/">
                <mat-icon class="icon">hourglass_empty</mat-icon>
                <span class="label">Time registration</span>
            </a>
            <a mat-list-item
               (click)="sidenav.toggle()"
               routerLink="/projects">
                <mat-icon class="icon">assignment</mat-icon>
                <span class="label">Create project</span>
            </a>
            <a mat-list-item
               (click)="sidenav.toggle()"
               routerLink="/setup">
                <mat-icon class="icon">settings</mat-icon>
                <span class="label">Setup</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div fxHide.gt-xs>
                <button mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <div style="padding-left: 20px">
                <a routerLink="/">MARIProject - Toggle integration
                </a>
            </div>
        </mat-toolbar>
        <main>
            <div class="main-div">
                <router-outlet></router-outlet>
            </div>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>
